body {
    background-color: gainsboro; 
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
    text-align: center; /* added */
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    margin: 0 auto; /* added */
    padding-left: 16px; /* added */
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
    font-weight: bold ; /* added */
  }

/* styling added for buttons */
.btn {
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    width: 100px ;
    height: 35px;
    border-radius: 0.25rem;
  }

/* added color change for button hover */
.btn:hover {
  background-color: aqua;
}

/* reset color for disabled button*/
.btn[disabled]:hover {
  background-color: gainsboro;
}

#game-score {
  text-decoration: underline;
}