body {
    background-color: #006D77; 
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
    text-align: center; /* added */
    color: #EDF6F9;
  }
  
  h1 {
    margin-bottom: 0px;
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    margin: 0 auto; /* added */
    justify-content: center;
    gap: 7px;
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: none;
    font-size: 64px;
    text-align: center;
    font-weight: bold ; /* added */
    border-radius: 5px;
  }

/* styling added for buttons */
.btn {
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    width: 100px ;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #FFDDD2;
  }

/* added color change for button hover */
.btn:hover {
  background-color: #E29578;
}

/* reset color for disabled button*/
.btn[disabled]:hover {
  background-color: gainsboro;
}

#game-score {
  text-decoration: underline;
}
